h1 Welcome to Kenziegram
form(action='/upload', method='post', enctype='multipart/form-data')
  input(type='file', name='image')
  input(type='submit')

  each filename in pics
    img(src='/uploads/'+filename)
  
